body{
  margin: 0;
}

.preview {
  width: 300px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: black;
  border: 1px solid black;
  border-radius: 28px;
  font-family: Arial;
  margin: auto;
  padding: 10px;
}

.previewContent {
  width: inherit;
}

.previewHeadings {
  color: red;
}

.submitQuizBtn {
  display: flex;
  align-items: center;
  justify-content: center;

}
